body {
  background-color: #FFF;
}

#board {
  margin: 0;
  padding: 0;
  border: 3px solid black;
  background-color: #F93;
  position: absolute;
  top: 15px;
  left: 15px;
}

#console {
  position: absolute;
  top: 600px;
  left: 15px;
  background-color: #FFF;
}
